*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
 
}
html{
    scroll-behavior: smooth;
   
}


/* navbar */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 10px;
    }

    /* media query navbar */
    @media(max-width: 760px){
        .navbar{
            display: block;
            width: 100%;
        }
    }

    /* nav div */
   .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 150px;
   }
   /* nav div media query */
   @media (max-width: 1024px){
       .nav{
           display: block !important;
           
       }
   } 
    .nav-img {
        width: auto;
        height: auto;
        img{
            width: 120px;
            height: 70px;
            margin-left: 50px;
            margin-bottom: 30px;
        }
    }
    @media (max-width: 760px){
        .nav-img {
            display: block !important;
            width: 100%;
            height: auto;
            img{
              width: 100px;
              height: auto;
            }

        }
    } 
    .nav-list{
         width: auto;
         height: auto;
         display: flex;
         flex-wrap: wrap;
         padding: 0%;
         margin-left: 20px;
        
        ul{
            display: flex;
            align-items: center;
        }
        li{
            list-style: none;
        }
        
        a{
            text-decoration: none;
            margin: 10px;
            font-size: 16px;
            font-weight: lighter;
            font-family: 'Times New Roman', Times, serif;
            color: black;
            
        }
        
    }
    
    @media (min-width: 200px)and(max-width: 760px){
        .nav-list{
            display: block;
            width: 100%;
            height: auto;
            margin-right: 250px;
        
        }
    } 

    /* nabar close */ 


    .login-and-sign{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-right: 150px;
        gap: 20px;
        height: auto;
        width: auto;
        text-decoration: none;
        padding: 10px;
        .login-part a{
            text-decoration: none;
            font-size: 16px;
            font-weight: lighter;
            color: black;
        }
         .login-part i{
           font-size: 11px;
         }
    
    }

    @media(max-width: 1200px){
        .login-and-sign a{
            display: block;
            width: 100%;
            height: auto;
            a{
             display: block;
            }

        }
    }

    /* section main-microsoft-titles */

    .main-microsoft-titles{
      width: auto;
      height: auto;
 
    }
    .microsoft-titles{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgb(233, 233, 233);
        margin-left: 13em;
        padding: 20px;
        width: 1540px;
        height: auto;
         h1{
             font-size: 30px;
             font-weight: bolder;
         }p{
             font-size: 20px;
         }
         a{
            font-size: 25px;
            text-decoration: none;
            margin-left: 0px;
            color: rgb(0, 0, 0);
            text-align: center;
        }
       
       button{
        position: relative;
        right: 600px;
        bottom: 200px;
        background-color: black;
        width: 200px;
        height: 50px;
        color: white;
        cursor: pointer;
        font-size: 20px;
       }
        #order-now{
          color: white;
           font-size: 18px;
           text-align: center;
        }
       
    }

    
    /* window laptop images */
    .window-laptop-images{
        max-width: fit-content;
        max-height: fit-content;
               img{
          width: 700px;
          height: 600px;
          object-fit: fill;
    }
}
@media (min-width:300px) and(max-width: 1000px){
    .main-microsoft-titles{
      width: auto;
      height: auto;
    
    }
}
@media (min-width:300px) and(max-width: 1000px){
    .microsoft-titles{
      display: block !important;
       width: 100%;
       height: auto;
    }
}


    @media(min-width:300px) and(max-width: 1500px){
        .price-tag{
          display: block;
           width: 100%;
           height: auto;
        }
    }
    @media(min-width:200px) and (max-width: 1100px){
        .window-laptop-images{
            display: block;
           img{
            display: block;
             width: 100%;
             height: auto;
                 }
            
        }
    }
    
    /*icon section */
 .icon-section{
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
      
     .img-icon-section{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         column-gap: 0px;
         width: auto;
         height: auto;
        img{
            width: 80px;
            height: 80px;
            margin: 40px;
            object-fit: fill;
        }
        label{
            margin: 40px;
            font-size: 15px;
            font-weight: bold;
            position: relative;
            bottom: 80px;
            left: 0%;
        
    }   
     }
    }

    /*images section and description */
    .image-and-description{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
        width: auto;
        gap: 19px;
        padding-left: 20px;
        .images-description{
            width: auto;
            height: auto;
        }
       img{
            width: 360px;
            height: 200px;
            object-fit: fill;
        }
        #surfacelaptop{
            background-color: rgb(231, 231, 231);
        }
        a{
            text-decoration: none;
            font-size: 20px;
            color: black;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;
        }
        #details{
            color: rgb(127, 127, 238);
            font-size: 20px;
        }
        
    }

    /*image section media query */
@media (max-width: 400px){
    .img-icon-section{
    display: block;
    img{
    display: block;
    width: 100%;
    height: auto;
       }
     }
}

 /*image section media query */
@media (max-width: 560px){
    .images-description{
        display: block;
        padding: 20px;
            img{
            display: block;
            width: 100%;
            height: auto;
            
            }
    }
}

/* xbox design lab section */
.xbox-design-lab{
           display: flex;
           flex-direction: row;
           justify-content: center;
           flex-wrap: wrap;
           margin-top: 100px;
}
.div-xbox-design-lab{
    width: auto;
    height: auto;
    margin-left: 90px; 
    border-style: solid rgb(189, 185, 185);
        img{
            width: 1540px;
            height: auto;
            margin-right: 10px;
        }
    }

    .xbox-design-lab-details{
        position: relative;
        bottom: 500px;
        left: 10%;
    }
    button{
        background-color: white;
        color: black;
        text-decoration: none;
        width: 200px;
        height: 50px;
        font-size: 20px;
        cursor: pointer;
    }
    h3{
    color: white;
    }
    p{
        color: white;
       }
/* xbox design lab section media querry*/
@media screen and(max-width: 1500px){
  .xbox-design-lab{
   display: block !important;
   width: 100%;
   height: auto;
   padding-right: 200px;
}
}
@media (min-width:100px) and(max-width: 1500px){
    .div-xbox-design-lab{
     display: block;
     width: 100%;
     height: auto;
        img{
        
            width: 100%;
            height: auto;
          }
    }
   }
   @media(min-width:100px) and(max-width: 1000px){
    .xbox-design-lab-details{
     display: block;
     position: sticky;
    } 
}
@media screen and(max-width: 600px){
    .xbox-design-lab-details{
     display: block;
     width: auto;

     button{
       width: auto;
       height: auto;
    }
    } 
}

/* for business section starts */
.for-business{
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 17px;
     flex-wrap: wrap;   
}
.for-business-logo{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    img{
        width: 360px;
        height: 200px;
        object-fit: fill;
    }
    a{
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: black;
    } p{
       font-size: 16px;
       color: black;
    }
}   
#shop-business-link{
    font-size: 18px;
    color: rgb(127, 127, 238);
}
/* for business part ends here */         

@media screen and(max-width: 380px) {
    .for-business{
      display: block !important;
      width: 100%;
    }
}



@media screen and(max-width: 380px){
    .for-business-logo{
       display: block !important;     
        img{
          width: 100%;
          height: auto;
          object-fit: fill;
        }
    }
}
h4{
 flex-wrap: wrap;
 margin-left: 220px;
 margin-bottom: 20px;
 font-size: 30px;
 font-weight: bolder;
}

.font-awesome-icon{
 display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  gap: 20px;
  margin-left: 220px;
  margin-bottom: 50px;
  padding-top: 50px;
  label{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    }
    i{ 
      
       font-size: 30px;
     }a:hover{
      
      color: silver;
    }
}
.icon{
  display: flex;
  flex-wrap: wrap;
}
@media(max-width: 760px){
    .font-awesome-icon{
      display: block;
       width: 100%;
    }
}

@media screen and(max-width: 600px) {
    .font-awesome-icon{
        display: block;
      }
}

/*footer part section and last part section */
.footers{
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px;
  width: auto;
  height: auto;
  
}
.footer-list{
     h5{
        font-size: 16px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
           } a{
                 text-decoration: none;
                 color: black;
                 font-size: 13px;
       } 
}
@media screen and(max-width: 550px){
    .footers{
        display: block !important;
        width: 100%;
        height: auto;
         h5{
          font-size: 25px;
        } a{
           font-size: 20px;
        }
    }
}
@media  screen and(max-width: 550px) {
    .footer-list{
        position: relative;
        left: 25%;
         }
}
@media  screen and(max-width: 300px) {
    .footer-list{
        margin-top: 25px;
         }
}
.last-footer-list{
   display: flex;
   flex-direction: row;
}
.last-footer-list{
 background-color: rgb(240, 240, 240);
 width: auto;
 height: auto;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 padding: 20px;
 a{
    text-decoration: none;
    font-size: 15px;
     }

 ul{
  display: flex;
  flex-direction: row;
  gap: 15px;
  a{
    text-decoration: none;
    font-size: 15px;
     }
}
}
@media screen and(max-width: 700px) {
    .last-footer-list{
      display: block;
    padding-left: 30%;
      ul{
      display: block;    
      a{
        font-size: 20px;
         } 
    }
    a{
      font-size: 25px;
    }
    }
}