*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}
body{
 scroll-behavior: smooth;
 background-size: cover;
 background-repeat: no-repeat;
 background: rgb(10,159,110);
background: linear-gradient(90deg, rgba(10,159,110,1) 7%, rgba(9,107,121,1) 35%, rgba(193,7,70,1) 100%);
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 200px;
  flex-wrap: wrap;
}
.forms{
    width: auto;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 10px solid white;
    border-radius: 20px;
}
input{
  width: auto;
  height: auto;
  outline: none;
  border: 2px solid silver;
  border-radius: 5px 5px;
}
button{
 width: 150px;
 height: 50px;
 background: rgb(7, 92, 7);
 color: white;
 border-color: white;
 border-radius: 10px;
 cursor: pointer;
 font-size: 20px;
 font-weight: bold;
}
i{
  font-size: 100px;
  text-shadow: 10px 5px 10px rgb(116, 116, 116);
}
label{
  font-size: 20px;
  font-weight: bolder;
} a{
  text-decoration: none;
  color: rgb(157, 104, 207);
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
@media screen and(max-width: 400px) {
     section{
      display: block !important;
    }
}