*{
 padding: 0%;
 margin: 0%;
 box-sizing: border-box;
}
body{
   scroll-behavior: smooth;
   background-repeat: no-repeat;
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 35%, rgba(0,228,255,1) 100%);
   background-size: cover;
  }
.form-sections{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 width: auto;
 height: auto;
}
h1{
 color: whitesmoke;
 font-size: 25px;
}
@media screen and(max-width: 760px) {
    .form-sections{
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}
.form-parent{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   height: auto;
   width: auto;
   h1{
    color: white;
  }
  
}
@media screen and(max-width: 760px) {
  .form-parent{
    display:block;
     form{
      display: block !important;
      width: 100%;
      height: auto;
    }
  }
}
input{
  width: 400px;
  height: 50px;
  border-radius: 10px 10px;
  text-align: center;
  font-size: 15px;
}
label{
  color: white;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#select{
  width: 150px;
  height: 30px;
  border-radius: 5px 5px white;
}
#submit{
  width: 200px;
    background: green;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
}